<h1>Create post form</h1>

<form action="/create" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Post title</label>
    <input type="text" name="name" class="form-control" placeholder="Enter post name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Post Content</label>
    <textarea name="body" rows="4" class="form-control" placeholder="Enter post content"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create post!</button>
</form>
